@text-color: #ffffff;

label, footer, a, p, h1, h2, h3, p.h3, .warning{
	color:@text-color;
}

.text-muted, .greet {
	color:@text-color !important;
}


body {
	background:#61254b url("/skins/default/img/mainbg.jpg") 0 0 no-repeat;
	background-size:cover;
}

.auth {
	p {
		display:inline;
	}

	a, a:hover {
		text-transform:capitalize;
		color:@text-color;
	}
}

.banner {
	height:500px;
}

nav {
	.navbar-brand {
		margin-right:4rem;
	}

	.navbar-brand {
		text-transform:uppercase;
	}

	a {
		color:@text-color !important;
	}
}

.info, .warning  {
	text-transform:uppercase;
	margin-bottom:18px;
}

.rstar {
	color:red;
}

.article-preview {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom: 1px solid @text-color;
}

/////////// ПОДВАЛ ///////////
footer {
	padding: 35px 0px;
}


